

<div class="container">
    <h1>Your question:</h1>
    <%= @question %>
    <h1>The coach answers:</h1>
    <%= @answer %>
    <div>
      <%= link_to "Ask a new question", root_path, class: "btn btn-primary"%>
    </div>
</div>
