<h1>Hello on your ask page </h1>


<form action="/answer" data-turbo="false" method="get">
    <%# still need to code name %>
  <input type="text" name="question" placeholder="What is your question?">
  <input type="submit" value="Ask!">
</form>
